<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <svg class="svg-icon" style="fill:black"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Jakuska"><span class="username">My Github</span></a>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>
</footer>
